@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* ======== TOKENS & VARIABLES ======== */
:root {
  /* ===== HEIGHT & WIDTH ===== */
  --header-height: 9vh;
  --width-bar: 300px;

  /* ===== FONT & TYPOGRAPHY ===== */
  --font-sans: 'Poppins', Arial, Helvetica, sans-serif;
  --font-size-base: 1rem;

  /* ===== SPACING & GAP ===== */
  --space-1: 4px;
  --space-2: 8px;
  --space-3: 12px;
  --space-4: 1rem;
  --space-5: 2.5rem;
  --space-6: 3rem;
  --space-7: 4rem;
  --space-8: 4.5rem;
  --space-9: 5rem;
  --space-10: 6rem;

  --gap-01: 0.25rem;
  --gap-02: 0.5rem;
  --gap-03: 0.75rem;
  --gap-04: 1rem;
  --gap-05: 1.25rem;
  --gap-06: 1.5rem;

  /* ===== BACKGROUNDS ===== */
  --bg-01: #111;
  --bg-02-2: rgba(17, 17, 17, 0.5);
  --bg-02: #222;
  --bg-01-2: rgba(34, 34, 34, 0.5);
  --bg-03: #333;
  --bg-03-2: rgba(51, 51, 51, 0.5);
  --bg-04: rgba(0, 0, 0, 0.25);

  --bg-w-00: rgba(255, 255, 255, 0.10);
  --bg-w-01: rgba(255, 255, 255, 0.20);
  --bg-w-02: rgba(255, 255, 255, 0.50);
  --bg-w-03: rgba(255, 255, 255, 0.75);
  --bg-w-04: rgba(255, 255, 255, 0.90);

  --bg-b-00: rgba(0, 0, 0, 0.10);
  --bg-b-01: rgba(0, 0, 0, 0.20);
  --bg-b-02: rgba(0, 0, 0, 0.50);
  --bg-b-03: rgba(0, 0, 0, 0.75);
  --bg-b-04: rgba(0, 0, 0, 0.90);

  /* ===== BACKGROUNDS FUNDS ===== */
  --funds-01: rgba(0, 0, 0, 0.25);
  --funds-02: rgba(0, 0, 0, 0.5);
  --funds-03: rgba(0, 0, 0, 0.75);

  /* ===== TEXTS ===== */
  --txt-01: #eeeeee;
  --txt-02: #bdbdbd;
  --txt-03: rgba(255, 255, 255, 0.5);

  --brand-01: #00ffae;
  --brand-02: #00ffaed9;
  --brand-03: #00ffaebf;
  --brand-04: #00ffae80;
  --brand-05: #00ffae40;
  --brand-06: #00ffae1a;

  --High-01: #ee0000;
  --High-02: #ee0000d9;
  --High-03: #ee0000bf;
  --High-04: #ee000080;
  --High-05: #ee000040;
  --High-06: #ee00001a;

  /* ===== UTILITY COLORS ===== */
  --attention-01: #fedc00ff;

  --danger-01: #ff0800;
  --danger-02: #ff0800;
  --danger-bg-01: rgba(255, 8, 0, 0.25);
  --danger-shadow-01: 0 0 13px 3px #b33a3680;
  --danger-shadow-02: 0 0 13px 3px #c9302c80;

  --success-01: #00ffae;
  --success-02: #4caf50;
  --success-shadow-01: 0 0 13px 3px #49e44e80;
  --success-shadow-02: 0 0 13px 3px #4caf5080;

  /* ===== BORDERS ===== */
  --border-01: 1px solid rgba(255, 255, 255, 0.06);
  --border-02: 1px solid rgba(255, 255, 255, 0.12);
  --border-03: 1px solid rgba(255, 255, 255, 0.24);
  --card-border: 1px solid rgba(255, 255, 255, 0.04);

  /* ===== SHADOWS ===== */
  --shadow-w-01: 0 6px 12px rgba(255, 255, 255, 0.07);
  --shadow-w-02: 0 4px 10px rgba(255, 255, 255, 0.18);
  --shadow-w-03: 0 8px 18px rgba(255, 255, 255, 0.28);

  --shadow-b-01: 0 6px 10px rgba(0, 0, 0, 0.07);
  --shadow-b-02: 0 4px 10px rgba(0, 0, 0, 0.18);
  --shadow-b-03: 0 8px 18px rgba(0, 0, 0, 0.28);

  --shadow-01: 0 6px 10px rgba(255, 255, 255, 0.07);
  --shadow-02: 0 4px 10px rgba(0, 0, 0, 0.18);
  --shadow-03: 0 8px 18px rgba(0, 0, 0, 0.28);

  --shadow-brand-01: 0 0 14px 3px rgba(254, 220, 0, 0.5);
  --shadow-danger: 0 0 12px 3px rgba(179, 58, 54, 0.18);

  --shadow-banner: 0 4px 0px rgba(255, 179, 0, 0.8);
  --shadow-btns: 0 0px 10px rgba(255, 179, 0, 0.8);

  /* ===== BLUR / DESFOCO ===== */
  --blur-01: blur(2px);
  --blur-02: blur(4px);
  --blur-03: blur(8px);
  --blur-04: blur(12px);
  
  /* ===== BORDER-RADIUS ===== */
  --rad-01: 0.25rem;
  --rad-02: 0.5rem;
  --rad-03: 0.75rem;
  --rad-04: 1rem;
  --rad-05: 1.25rem;
  --rad-06: 1.5rem;

  /* ===== TRANSITIONS ===== */
  --ani-01: 0.3s ease all;
  --ani-02: 0.2s ease all;
}