.head-logo{
    height: 32px;
    width: 32px;
    border-radius: 50%;
}

.center-box{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--gap-04);
}
.nav-link{
    padding: 0.25rem 0.75rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--gap-01);
    border-radius: var(--rad-01);
    border: 1px solid transparent;
    transition: var(--ani-01);

    &:hover{
        border: 1px solid var(--brand-05);
        background-color: var(--brand-06);
    }
}
.left-box{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--gap-02);
}

.main{
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
/* ====== BG ====== */
.bg-1{
    height: 100vh;
    background: #010101;
    background: radial-gradient(circle, rgba(1, 1, 1, 1) 0%, rgba(0, 51, 33, 1) 50%, rgba(1, 1, 1, 1) 100%);
}
.bg-2{
    height: 2vh;
    width: 100%;
background-color: #010101;
opacity: 0.6;
background-image:  radial-gradient(25% 25% at 25% 25%, #00ffae 99%, transparent 101%), radial-gradient(25% 25% at 25% 25%, #00ffae 99%, transparent 101%), radial-gradient(50% 50%, #010101 98%, transparent), repeating-conic-gradient(#010101 0 25%, #00ffae 0 50%);
background-position: 75px 75px, 0 0, 0 0, 37.5px 0;
background-size: 150px 150px, 150px 150px, 75px 75px, 150px 75px;
}

.set-h{
    height: 80vh;
    margin: var(--space-10) var(--space-7);
    padding: var(--space-6);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: var(--gap-04);
    border-radius: var(--rad-06);
    background: var(--bg-b-01);
    border: 1px solid var(--bg-w-00);
    box-shadow: var(--shadow-w-02);
    backdrop-filter: var(--blur-02);
}
.set-h img{
    height: 64px;
    width: 64px;
}
.set-h h1{
    font-size: 3rem;
    color: var(--brand-01);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.set-h p{
    font-size: 1.25rem;
    color: var(--txt-02);
}
.highlight{
    color: var(--brand-01);
    font-weight: bold;
}