.head{
    height: 8vh;
    width: 90vw;
    padding: var(--gap-01) var(--gap-04);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 1rem;
    left: 50%;
    z-index: 100;
    backdrop-filter: var(--blur-04);
    transform: translateX(-50%);
    border: 1px solid var(--bg-w-00);
    border-radius: var(--rad-04);
    background: var(--bg-b-02);
    box-shadow: var(--shadow-w-01);
}

/* ====== LINKS ======*/
.nav-link{
    padding: 0.25rem 0.75rem;
    font-size: 0.95rem;
    font-weight: 600;
    color: var(--txt-02);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--gap-02);
    border-radius: var(--rad-01);
    border: 1px solid transparent;
    transition: var(--ani-01);

    &:hover{
        border: 1px solid var(--brand-05);
        background-color: var(--brand-06);
    }
}
/* ====== ICONS HEADER ======*/
    .icon{
        font-size: 1rem;
        color: var(--txt-02);
    }
    .icon-cor-nav{
        color: var(--hl-cor-01);
    }
    .icon-cor-fire{
        color: var(--hl-cor-02);
    }
    .icon-cor-ren{
        color: var(--hl-cor-03);
    }
    .icon-cor-coll{
        color: var(--hl-cor-04);
    }
    .icon-cor-tops{
        color: var(--hl-cor-05);
    }
    .icon-cor-gen{
        color: var(--hl-cor-06);
    }